<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="divTitulo" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="divTitulo">
      <div class="divTituloGeral">
        <b>Tipo Whisky</b>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header> 
  
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="divHeaderlist">
      <div class="containerTitulo">
        <div class="containerTitulo1">
          <b>Lista de Tipo Whisky</b>
        </div>
        <button title="Criar" alt="Criar" class="containerTitulo2" [routerLink]="['/tipowhisky/criartipowhisky']"><b>Criar</b></button>
      </div>
    </div>
    <div class="blue-box">
      <div class="nomeCampo">
        <b>Nome dos Tipos Whisky</b>
      </div>
    </div>
    <div class="red-box">
      <tr class="trFabricante" *ngFor="let tipowhisky of tipoWhiskys" [routerLink]="['/tipowhisky/editartipowhisky', tipowhisky.idTipoWhisky, tipowhisky.nomeTipoWhisky]" >
        <td class="tdFabricante">
          <b>{{tipowhisky.nomeTipoWhisky}}</b>
        </td>
      </tr>
    </div>
  </div> 
</ion-content>