<div class="modal-overlay">
    <div class="loading-modal">
        <p><b>{{aus}}</b></p>

        <div *ngFor="let opcao of opcoes">
            <input type="radio" name="opcao" [(ngModel)]="opcaoSelecionada" [value]="opcao">{{ opcao }}
        </div>
          
        <div class="botao_principal">   
            <div class="botao_Aplicar">
                <button class="botao" (click)="ordenar()"><b>Ordenação</b></button>
            </div>
            <div class="botao_cancelar">
                <button class="botao" (click)="cancelar()"><b>Cancelar</b></button>
            </div>
        </div>
    </div>
</div>
  