<div class="modal-overlay">
    <div class="loading-modal">
        <!-- <p><b>{{aus}}</b></p> -->

        <!-- <div *ngFor="let opcao of opcoes">
            <input type="radio" name="opcao" [(ngModel)]="opcaoSelecionada" [value]="opcao">{{ opcao }}
        </div> -->
        
        <img src="../../../assets/imagens/not-ready.gif" style="width: 80%; height: 70%;" class="tamanhoFavAdeg_Global"> 

        <div class="botao_principal">   
            <div class="botao_cancelar">
                <button class="botao" (click)="cancelar()"><b>Cancelar</b></button>
            </div>
        </div>
    </div>
</div>
  