<ion-header [translucent]="true">
  <ion-toolbar class="divTitulo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="divTitulo">
      <div class="divTopBar">
        <div class="divVoltarLocal">
          <button type="submit" class="botaoVoltar" [routerLink]="['/tipowhisky']" ><</button> 
        </div>
        <div class="divTituloLocal">
          <b>Tipo Whisky</b>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header> 
  
  
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="divHeaderlist">
      <div class="containerTitulo">
        <div class="containerTitulo1">
          <b>Criar Tipo Whisky</b>
        </div>
      </div>
    </div>
    <div class="blue-box">
      <div class="nomeCampo">
      </div>
    </div>
    <div class="red-box">
      <div class="divSubmit">
        <div class="divSenha">
          <input type="text" class="divInput" placeholder="Nome do Tipo Whisky" [(ngModel)]="tipoWhiskys.nomeTipoWhisky" name="name">
        </div>
        <div class="divBotaoIncluir">
          <button type="submit" class="botaoIncluir" (click)="criarTipoWhisky()" ><b>Incluir Tipo Whisky</b></button>
        </div>
      </div>
    </div>
  </div> 
</ion-content>