
<div *ngIf="loginok == 1"> 
  <body>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Bem-Vindo</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite seu e-mail" />
            <a href="/">Esqueci minha senha</a>
            <input type="submit" value="Acessar" (click)="fazerLogin()" class="btn" />

            <div class="criaConta">
              Ainda não tem conta? <a class="" (click)="criarUsuario()">clique aqui</a>
            </div>
        </form>
    </div>
  </body>
</div>

<div *ngIf="loginok == 2">
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
          <ion-list id="inbox-list">
          
            <ion-list-header>Inbox</ion-list-header>
            <ion-note>hi&#64;ionicframework.com</ion-note>
  
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
  
          <ion-list id="labels-list">
            <ion-list-header>Labels</ion-list-header>
  
            <ion-item *ngFor="let label of labels" lines="none">
              <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-item>
          </ion-list>

          <div class="divBotaoSair">
            <button class="botaoSair" (click)="sair()">sair</button>
          </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
</div>

<div *ngIf="loginok == 3">
  <ion-content style="height: 1500px; background-color: rgb(255, 255, 255);">
    <div class="container" style="background-color: rgb(255, 255, 255); height: 100%;">
      <div class="divCadastroUsuario">
        <H1><b>WhiskyPedia</b></H1>
        <H5 style="color: #df994a;">Seja Bem Vindo!</H5>
      </div>
      <div class="divTituloCadastroUsuario">
        
        <H2><b>Criar Usuário</b></H2>
      </div>
      <form #meuFormulario="ngForm" style="margin-top: 25px;">
        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="text" placeholder="Nome Usuario" [(ngModel)]="usuarios.nome_usuario" name="nome_usuario" id="nome_usuario" name="nome_usuario" ngModel required/>
          </div>
          <div *ngIf="nomeRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['nome_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>
        
        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="email" placeholder="E-mail" [(ngModel)]="usuarios.email_usuario" name="email_usuario" id="email_usuario" name="email_usuario" ngModel required />
          </div>
          <div *ngIf="emailRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['email_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="text" placeholder="Celular" mask="(00) 00000-0000" [(ngModel)]="usuarios.telefone_usuario" name="telefone_usuario" id="telefone_usuario" name="telefone_usuario" ngModel required />
          </div>
          <div *ngIf="telefoneRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['telefone_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="date" placeholder="Data Nascimento" [(ngModel)]="usuarios.data_nascimento_usuario" name="data_nascimento_usuario" id="data_nascimento_usuario" name="data_nascimento_usuario" ngModel required/>
          </div>
          <div *ngIf="datanasRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['data_nascimento_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="password" placeholder="Senha" [(ngModel)]="usuarios.senha_usuario" name="senha_usuario" id="senha_usuario" name="senha_usuario" ngModel required/>
          </div>
          <div *ngIf="senhaRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['senha_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="divBotaoCadastroUsuario" style="margin-top: 30px;">
            <button class="buttonCadastroUsuario" (click)="criarNovoUsuario()" >Cadastrar</button>
        </div>

        <div class="divBotaoCadastroUsuario" style="margin-top: 30px;">
          <button class="buttonCadastroUsuario" (click)="voltar()" >voltar</button>
      </div>
      </form>
    </div>
  </ion-content>
</div>
