
<div *ngIf="loaderLogin == true" class="overlay">
  <app-loading-spinner-login></app-loading-spinner-login>
</div>

<div *ngIf="loginok == 1"> 
  <ion-content style="height: 3000px; width: 100%;">
    <div class="divLogin">
      <div class="divCriarConta">
        <b><label for="">Ainda não tem conta?</label></b>
      </div>
      <div>
        <button class="botaoCliqueAqui"  (click)="criarUsuario()">Clique Aqui!</button>
      </div>
      <div class="divBemVindo">
        <b>SEJA BEM VINDO!</b>
      </div>
    </div>
    <div class="divLoginAbaixo">
      <div class="divEmail">
        <input class="divInput" type="email" placeholder="E-mail" [(ngModel)]="login.email_usuario" autofocus="true" />
      </div>
      <div class="divSenha">
        <input class="divInput" type="password" placeholder="Senha" [(ngModel)]="login.senha_usuario"/>
      </div>
      <div class="divBotaoLogin">
        <button class="botaoLogin" type="submit" value="Acessar" (click)="fazerLogin()">LOGIN</button>
      </div>
      <div class="divEsqueceuSenha">
        <a class="linkEsqueceuSenha" href="/">Esqueci minha senha</a>
      </div>
    </div>
  </ion-content>
</div>

<div *ngIf="loginok == 2">
  <ion-app>
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" type="overlay">
        <ion-content>
          
            <ion-list id="inbox-list">
              <ion-list-header>{{nomeUsuario}}</ion-list-header>
              <ion-note>Seja Bem-Vindo!</ion-note>

              <ion-list-header>Menu</ion-list-header>
              
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-label>
                    <div class="divTitulo">{{ p.title }}</div>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
    
            <div *ngIf="tipoUsuario == 1">
              <ion-list id="labels-list">
                <ion-list-header>Administração</ion-list-header>
      
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesAdmin; let i = index">
                  <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                    <ion-label>
                      <div class="divTitulo">{{ p.title }}</div>
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </div>

            <div class="divBotaoSair">
              <button class="botaoSair" (click)="sair()">sair</button>
            </div>

        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-app>
</div>

<div *ngIf="loginok == 3">
  <ion-content style="height: 1500px; background-color: rgb(255, 255, 255);">
    <div class="container" style="background-color: rgb(255, 255, 255); height: 100%;">
      <div class="divCadastroUsuario">
        <H1><b>WhiskyPedia</b></H1>
        <H5 style="color: #df994a;">Seja Bem Vindo!</H5>
      </div>
      <div class="divTituloCadastroUsuario">
        
        <H2><b>Criar Usuário</b></H2>
      </div>
      <form #meuFormulario="ngForm" style="margin-top: 25px;">
        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="text" placeholder="Nome Usuario" [(ngModel)]="usuarios.nome_usuario" name="nome_usuario" id="nome_usuario" name="nome_usuario" ngModel required/>
          </div>
          <div *ngIf="nomeRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['nome_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>
        
        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="email" placeholder="E-mail" [(ngModel)]="usuarios.email_usuario" name="email_usuario" id="email_usuario" name="email_usuario" ngModel required />
          </div>
          <div *ngIf="emailRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['email_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="text" placeholder="Celular" mask="(00) 00000-0000" [(ngModel)]="usuarios.telefone_usuario" name="telefone_usuario" id="telefone_usuario" name="telefone_usuario" ngModel required />
          </div>
          <div *ngIf="telefoneRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['telefone_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="date" placeholder="Data Nascimento" [(ngModel)]="usuarios.data_nascimento_usuario" name="data_nascimento_usuario" id="data_nascimento_usuario" name="data_nascimento_usuario" ngModel required/>
          </div>
          <div *ngIf="datanasRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['data_nascimento_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
          <div>
            <input class="inputCadUsuario" type="password" placeholder="Senha" [(ngModel)]="usuarios.senha_usuario" name="senha_usuario" id="senha_usuario" name="senha_usuario" ngModel required/>
          </div>
          <div *ngIf="senhaRequired == 1">
            <div class="obrigatorio" *ngIf="meuFormulario.controls['senha_usuario'].hasError('required')">
              Este campo é obrigatório.
            </div>
          </div>
        </div>

        <div class="divBotaoCadastroUsuario" style="margin-top: 30px;">
            <button class="buttonCadastroUsuario" (click)="criarNovoUsuario()" >Cadastrar</button>
        </div>

        <div class="divBotaoCadastroUsuario" style="margin-top: 30px;">
          <button class="buttonCadastroUsuario" (click)="voltar()" >voltar</button>
      </div>
      </form>
    </div>
  </ion-content>
</div>

<div style="height: 300px;"></div>
