  /// INICIO OBJETOS PARTE 4    ///////////////////////////////////
.parte4_pai{
    position: relative; /* Necessário para posicionar as divs filhas */
    width: 100%; /* Largura da área contendo as divs */
    height: 100%; /* Altura da área contendo as divs */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    align-content: center;
    justify-content: center;
}

.parte4_filho1{
    position: absolute;
    top: 20px; 
    color: rgb(179, 145, 102);
}

.parte4_filho2{
    position: absolute;
    top: 180px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    align-content: center;
    justify-content: center;
}

.teste_1{
    color: rgb(132, 193, 218);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.teste_2{
    color: rgb(179, 145, 102);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/// FIM OBJETOS PARTE 4    ///////////////////////////////////