<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        
          <ion-list id="inbox-list">
            <ion-list-header>{{nomeUsuario}}</ion-list-header>
            <ion-note>Seja Bem-Vindo!</ion-note>

            <ion-list-header>Menu</ion-list-header>
            
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-label>
                  <div class="divTitulo">{{ p.title }}</div>
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <div *ngIf="tipoUsuario == 1">
            <ion-list id="labels-list">
              <ion-list-header>Administração</ion-list-header>
    
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesAdmin; let i = index">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-label>
                    <div class="divTitulo">{{ p.title }}</div>
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>

          <div class="divBotaoSair">
            <button class="botaoSair" >sair</button>
            <!-- <button class="botaoSair" (click)="sair()">sair</button> -->
          </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>