<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <div class="divTituloGeral">
          Home
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header> 
  
<ion-content [fullscreen]="true" style="height: 3000px; width: 100%;">
    <div class="container">
      <div class="divHeaderlist">
        <div class="containerTitulo">
          <div class="containerTitulo1">
            <b>WhiskyPedia</b>
          </div>
          <div class="containerTitulo2">
            <b>Dashboard</b>
          </div>
        </div>
      </div>
      <div class="blue-box">
        <div class="parte2_pai">
          <div class="parte2_filho1">
          
          </div>
          <div class="parte2_filho2">
          
          </div>
        </div>
      </div>
      
      <div class="red-box">

        <div class="containerTitulo3 tituloArea" style="font-size: 20px; ">
          <div style="text-align: center;"><b>Quantidades de Tipo de Whisky</b></div>
          <div style="text-align: center;"><b>Cadastrados</b></div>
        </div>
        <div style="display: block; margin-bottom: 25px; margin-top: 15px;">
          <canvas baseChart
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend"
            >
          </canvas>

        </div>


        <div class="containerTitulo3 tituloArea">
          <b>Os Mais Curtidos</b>
        </div>
        <div class="carrossel">
          <div class="item cor1">

          </div>
          <div class="item cor2">

          </div>
          <div class="item cor1">

          </div>
        </div> 

        <div class="containerTitulo3 tituloArea">
          <b>Últimos Incluídos</b>
        </div>
        <div class="carrossel2">
          <div class="item2 cor2">

          </div>
          <div class="item2 cor1">

          </div>
          <div class="item2 cor2">
            
          </div>
        </div> 
      </div>
    </div> 
</ion-content>




