<ion-header [translucent]="true">
    <ion-toolbar class="divTituloGlobal">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="divTituloGlobal">
        <div class="divTituloGeral">
          <b>Migração</b>
        </div>
      </ion-title>
    </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true" style="height: 50000px;">

  <label>MIGRACAO NUVEM PARA LOCAL</label>
    <div class="container">
      <div>
        <button class="" (click)="migrarFabricantes()">Fabricantes</button>
      </div>
      <div style="margin-top: 30px;">
        <button class="" (click)="migrarTipoWhiskys()">Tipo Whisky</button>
      </div>

      <div style="margin-top: 30px;">
        <div style="margin-top: 5px;">
          <input type="text" class="divInput" placeholder="" [(ngModel)]="num1" name="num1">
        </div>
        <div style="margin-top: 5px;">
          <input type="text" class="divInput" placeholder="" [(ngModel)]="num2" name="num2">
        </div>
        <div style="margin-top: 5px;">
          <button class="" (click)="migrarWhiskys(num1, num2)">Whisky</button>
        </div>
      </div>

    </div> 


  <label style="margin-top: 50px;margin-bottom: 10px;">MIGRACAO LOCAL PARA NUVEM</label>
    <div class="container">
      <div>
        <button class="" (click)="migrarFabricantesLocalParaNuvem()">Fabricantes</button>
      </div>
      <div style="margin-top: 30px;">
        <button class="" (click)="migrarTipoWhiskysLocalParaNuvem()">Tipo Whisky</button>
      </div>

      <div style="margin-top: 30px;">
        <div style="margin-top: 5px;">
          <input type="text" class="divInput" placeholder="" [(ngModel)]="num1" name="num1">
        </div>
        <div style="margin-top: 5px;">
          <input type="text" class="divInput" placeholder="" [(ngModel)]="num2" name="num2">
        </div>
        <div style="margin-top: 5px;">
          <button class="" (click)="migrarWhiskysLocalParaNuvem(num1, num2)">Whisky</button>
        </div>
      </div>

    </div> 

</ion-content>